// Default variables
html {
    --base-font-size: 20px;
}

// Light default theme
body {
    --bg-color: #0d2538;
    --bg-content-color: #0f2d44;
    --bg-code: rgba(0, 0, 0, 0.3);
    --border-color: rgba(255, 255, 255, 0.1);
    --body-color: #ced8de;
    --title-color: #fff;
    --page-title-color: #0a1e2e;
    --tag-color: #0a1e2e;
    --link-color: #5cdb95;
    --space: 2rem;
    --content-width: 800px;
    --header-height: 70px;
    --radius: 5px;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
    html {
        --base-font-size: 17px;
    }
    body {
        --space: 1.5rem;
        --header-height: 60px;
    }
}

// Override variables for Light theme
body[data-theme='light'] {
    --bg-color: #f2f4f6;
    --bg-content-color: #fcfcfc;
    --bg-code: #f7f9fc;
    --border-color: rgba(0, 0, 0, 0.1);
    --body-color: #2f2f2f;
    --title-color: #010508;
    --page-title-color: #e9e9e9;
    --tag-color: #149f6b;
    --link-color: #149f6b;
}
